
div.content {
  z-index: -1;
  background-color: #F2F3F6;
  /* margin-left: 220px; */
  margin-left: 232px;
  padding: 24px 24px;
  height: 800px;
  position: absolute;
}

.popupform{
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#demo{
  display: none;
}

#demo1{
  display: none;
}

#demo2{
  display: none;
}

#demo3{
  display: none;
}

.DashboardProp{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 86.61%;
  margin-top: 68px;
}

.DashboardHead{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #272B41;
}

.CreateNewTeamBtn{
  box-sizing: border-box;
  position: absolute;
  cursor: pointer;
  width: 158px;
  height: 40px;
  right: 3.2%;
  top: 19px;
}

.TotalTeams{
  height: 82px;
  width: 367px;
  position: absolute;
  cursor: pointer;
  left: 1.9%;
  right: 72.81%;
  top: 10%;
  bottom: 81.71%;
  background: #FFFFFF;
  border-radius: 10px;
}

.TotalTeamsLeads{
  height: 82px;
  width: 366px;
  position: absolute;
  cursor: pointer;
  left: 34.8%;
  right: 43.81%;
  top: 10%;
  bottom: 81.71%;
  background: #FFFFFF;
  border-radius: 10px;
}

.TotalMembers{
  height: 82px;
  width: 368px;
  position: absolute;
  cursor: pointer;
  left: 67.55%;
  right: 14.81%;
  top: 10%;
  bottom: 81.71%;
  background: #FFFFFF;
  border-radius: 10px;
}

.TeamTxt{
  position: absolute;
  height: 14px;
  left: 5.03%;
  right: 48.43%;
  top: 19.03%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #5A5F7D;
}

.NumberOfTeams{
  position: absolute;
  height: 14px;
  left: 5.5%;
  right: 74.43%;
  top: 55.03%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #272B41;
}

.TeamsIcons{
  position: absolute;
  height: 14px;
  left: 81.03%;
  right: 74.43%;
  top: 20.03%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
  background-color: rgba(0, 0, 0, 0.6);
}

.closeBtn{
  position: absolute;
  cursor: pointer;
  right: 4.09%;
  top:4%
}