.dashboardcardcomp{
  position: absolute;
  width: 564px;
  height: 176px;
  left: 2%;
  right: 43.05%;
  top: 22.84%;
  bottom: 52.39%;
  background: #FFFFFF;
  border-radius: 10px;
}

.cardImg{
  position: absolute;
  left: 5%;
  top: 11%;
}

.cardInnerImg{
  position: absolute;
  left: 30%;
  top: 30%;
}

.AddIcon{
  position: absolute;
  cursor: pointer;
  right: 15%;
  top: 5%;
}

.EditIcon{
  position: absolute;
  cursor: pointer;
  right: 10%;
  top: 5%;
}

.DeleteIcon{
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 5%;
}

.cardHead{
  position: absolute;
  left: 22.8%;
  top: 12%;
  font-family: 'Lato';
  font-style: bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #272B41;
}

.cardAttribute1{
  position: absolute;
  left: 22.8%;
  top: 30%;

  font-family: 'Lato';
  font-style: normal;
  font-weight:600;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #272B41;
}

.cardValue1{
  position: absolute;
  left: 44.3%;
  top: 30%;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #747890;
}

.cardAttribute2{
  position: absolute;
  left: 22.8%;
  top: 45%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #272B41;
}

.cardValue2{
  position: absolute;
  left: 48.5%;
  top: 45%;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #747890;
}

.cardAttribute3{
  position: absolute;
  left: 22.8%;
  top: 60.5%;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #272B41;
  letter-spacing: 0.03em;
}

.cardValue3{
  position: absolute;
  left: 43.8%;
  top: 60%;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #747890;
}

.cardAttribute4{
  position: absolute;
  left: 22.8%;
  top: 77%;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #272B41;
}

.cardValue4{
  position: absolute;
  left: 32%;
  top: 76%;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #272B41;
}

/* .dashboardcardcomp2{
  position: absolute;
  width: 564px;
  height: 186px;
  left: 51.86%;
  right: 43.05%;
  top: 27.84%;
  bottom: 52.39%;

  background: #FFFFFF;
  border-radius: 10px;
} */