.EditTeaminner{
  /* position: absolute; */
  position: sticky;
  width: 628px;
  height: 394px;
  left: 433px;
  top: 183px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}


.EditTeamHead{
  position: absolute;
  width: 254px;
  height: 28px;
  left: 3.8%;
  top: 4%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #272B41;
}


.EditTeamheadboarder{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15.93%;
  bottom: 84.07%;
  border: 1px solid #E3E6EF;
}


.TeamNameInEdit{
  position: absolute;
  height: 14px;
  left: 3.8%;
  right: 67.79%;
  top: calc(41% - 14px/2 - 69px);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #757575;
}


.TeamNameFieldInEdit{
  position: absolute;
  left: 3.8%;
  right: 46.27%;
  top: 26%;
  bottom: 63.25%;
  width: 44%;
  background: #FFFFFF;
  border-radius: 4px;
}


.EmailOfTeamLeadInEdit{
  position: absolute;
  height: 14px;
  left: 3.8%;
  right: 31.18%;
  top: calc(41% - 14px/2 + 13px);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #757575;
}

.EmailOfTeamLeadFieldInEdit{
  position: absolute;
  left: 3.8%;
  right: 33.09%;
  top: 46.5%;
  bottom: 42.25%;
  width: 44%;
  background: #FFFFFF;
  border-radius: 4px;
}

.TeamLeadNameInEdit{
  position: absolute;
  height: 14px;
  left: 52.09%;
  right: 31.18%;
  top: calc(20% - 14px/2 + 13px);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #757575;
}

.TeamLeadNameFieldInEdit{
  position: absolute;
  left: 52%;
  right: 30.09%;
  top: 26%;
  bottom: 63.25%;
  width: 44%;
  background: #FFFFFF;
  border-radius: 4px;
}


.AddTeamMembersTxtInEdit{
  position: absolute;
  height: 14px;
  left: 3.8%;
  right: 66.18%;
  top: calc(62% - 14px/2 + 13px);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #757575;
}

.AddTeamMembersFieldInEdit{
  position: absolute;
  left: 3.8%;
  right: 30.09%;
  top: 68%;
  bottom: 18.86%;
  width: 92.2%;
  background: #FFFFFF;
  border-radius: 4px;
}

.statusInEdit{
  position: absolute;
  height: 14px;
  left: 52.09%;
  right: 30.18%;
  top: calc(41% - 14px/2 + 13px);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #757575;
}

/* .AddTeamMembersField:before{

} */

.confirmBtnInEdit{
  position: absolute;
  width: 82px;
  height: 40px;
  left: 83%;
  right: 30.09%;
  top: 84.32%;
  bottom: 6.89%;
  color: white;
  background: #0054A6;
  border: 1px solid #0054A6;
  border-radius: 5px;
}

.cancelBtnInEdit{
  position: absolute;
  width: 74px;
  height: 40px;
  left: 68.09%;
  right: 30.09%;
  top: 84.32%;
  bottom: 6.89%;
  cursor: pointer;
}
