.FooterDash{
  z-index: -1;
  position: absolute;
  left: 18.1%;
  right: 0%;
  top: 878px;
  bottom: 0%;
  background: #FFFFFF;
}

.FooterText{
  margin-right: 220px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #9299B8;
}
