.ForgetPasswordinner{
  /* position: absolute;
  margin: auto;
  top: 10%;
  width: 45%;
  height: 80%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 5px; */

  position: absolute;
  margin: auto;
  top: 1%;
  width: 47%;
  height: 98%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 5px;
}

.Qbatch_logo_in_forgetPass{
  position: absolute;
  width: 25.5%;
  height: 10%;
  left: 37.5%;
  top: 6%;
}

.ForgotPasswordHeading{
  position: absolute;
  width: 80%;
  height: 12%;
  left: 7.8%;
  top: 23.9%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #272B41;
}

.ForgetPasswordInst{
  position: absolute;
  width: 80%;
  height: 32px;
  left: 7.8%;
  right: 30.09%;
  top: 35%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.025em;
  color: #747890;
}

.ForgetPassTxt{
position: absolute;
height: 14px;
left: 7.8%;
right: 67.79%;
top: 45.5%;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
color: #757575;
}


.ForgetPassField{
  position: absolute;
  left: 7.8%;
  right: 30.09%;
  top: 48.2%;
  bottom: 45.2%;
  width: 84.5%;
  background: #FFFFFF;
  border-radius: 4px;
}

.SendResetInst{
  position: absolute;
  width: 84.5%;
  left: 7.8%;
  right: 30.09%;
  top: 63.2%;
  bottom: 30.2%;
  color: white;
  border: 1px solid #0054A6;
  background: #0054A6;
  border-radius: 5px;
}

.line_74{
  position: absolute;
  left: 51.68%;
  right: 39.68%;
  top: 77.48%;
  bottom: 22.39%;
  border: 1px solid #E3E6EF;
}

.line_73{
  position: absolute;
  left: 39.68%;
  right: 51.68%;
  top: 77.48%;
  bottom: 22.39%;
  border: 1px solid #E3E6EF;
}

.line46{
  position: absolute;
  left: 67.94%;
  right: 31.04%;
  top: 54.71%;
  bottom: 43.51%;
  border: 1.8px solid #ADB4D2;
}

.ortxtinForgetPass{
  position: absolute;
  height: 16px;
  left: 49%;
  top: 73.5%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #5A5F7D;
}

.returntotxt{
  position: absolute;
  height: 16px;
  left: 41.8%;
  right: 40.66%;
  top: 81%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #272B41;
}

.sign_in{
  position: absolute;
  height: 16px;
  left: 51.8%;
  right: 5.9%;
  top: 81%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #0054A6;
}