.NavbarBG{
  /* width: auto; */
  height: 68px;
  /* position: fixed; */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
  box-shadow: 0px 2px 30px rgba(146, 153, 184, 0.102);
}

.Qbatch_logo_in_Dashboard{
position: absolute;
width:"98px";
height:"36px";
left: 24px;
top: 10px;
}

.helpBtn
{
  position:absolute;
  top: 33%;
  right: 7%;
  cursor: pointer;
}

.settingBtn
{
  position:absolute;
  top:33%;
  right: 4.5%;
  cursor: pointer;
}