.SetNewPasswordinner{
  position: absolute;
  width: 644px;
  height: 611px;
  left: 398px;
  top: 87px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.Qbatch_logo_in_NewPass{
  position: absolute;
  width: 164px;
  height: 60px;
  left: 37%;
  top: 5%;
/* background: url(Qbatch_logo-removebg-preview.png); */
}

.SetNewPasswordHead{
  position: absolute;
  width: 254px;
  height: 28px;
  left: 23px;
  top: 137px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #272B41;
}

.SetNewPasswordInst{
  position: absolute;
  width: 544px;
  height: 16px;
  left: 4.09%;
  right: 30.09%;
  top: calc(44% - 16px/2 - 84px);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #747890;
}

.NewPass{
  position: absolute;
  height: 14px;
  left: 4.09%;
  right: 67.79%;
  top: calc(51% - 14px/2 - 69px);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #757575;
}


.NewPassField{
  position: absolute;
  left: 4.09%;
  right: 30.09%;
  top: 41.62%;
  bottom: 51.29%;
  width: 90%;
  background: #FFFFFF;
  border-radius: 4px;
}


.CPassword{
  position: absolute;
  height: 14px;
  left: 4.09%;
  right: 66.18%;
  top: calc(53% - 14px/2 + 13px);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #757575;
}

.CPasswordField{
  position: absolute;
  left: 4.09%;
  right: 30.09%;
  top: 57.05%;
  bottom: 35.86%;
  width: 90%;
  background: #FFFFFF;
  border-radius: 4px;
}
.sign_in_btn{
  position: absolute;
  width: 90%;
  left: 4.09%;
  right: 30.09%;
  top: 68.32%;
  bottom: 24.89%;
  color:white;
  background: #0054A6;
  border-radius: 5px;
}

.line_74{
  position: absolute;
  left: 51.68%;
  right: 39.68%;
  top: 77.48%;
  bottom: 22.39%;
  border: 1px solid #E3E6EF;
}

.line_73{
  position: absolute;
  left: 39.68%;
  right: 51.68%;
  top: 77.48%;
  bottom: 22.39%;
  border: 1px solid #E3E6EF;
}

.or{
  position: absolute;
  height: 16px;
  left: 49%;
  right: -7.69%;
  top: calc(82% - 16px/2 - 0.5px);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #5A5F7D;
}

.returntxt{
  position: absolute;
  height: 16px;
  left: 41.96%;
  right: 6.66%;
  top: calc(47% - 16px/2 + 257px);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #272B41;
}

.sign_In{
  position: absolute;
  height: 16px;
  left: 49.98%;
  right: 38.9%;
  top: calc(47% - 16px/2 + 257px);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #0054A6;
}