.SetNewPasswordinner{
  /* position: absolute;
  margin: auto;
  top: 10%;
  width: 45%;
  height: 80%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 1%; */

  position: absolute;
  margin: auto;
  top: 2%;
  width: 47%;
  height: 96%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 5px;
}

.Qbatch_logo_in_NewPass{
  /* position: absolute;
  width: 35%;
  height: 12%;
  left: 30%;
  top: 5%; */
  position: absolute;
  width: 25.5%;
  height: 12%;
  left: 37%;
  top: 5.5%;
}

.SetNewPasswordHead{
  position: absolute;
  width: 80%;
  height: 12%;
  left: 7.8%;
  top: 24%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #272B41;
}

.SetNewPasswordInst{
  position: absolute;
  width: 80%;
  height: 16px;
  left: 7.6%;
  right: 30.09%;
  top: 35%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.03em;
  color: #747890;
}

.NewPass{
  position: absolute;
  height: 14px;
  left: 7.8%;
  right: 67.79%;
  top: 43%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #757575;
}


.NewPassField{
  position: absolute;
  left: 7.8%;
  right: 30.09%;
  top: 46%;
  bottom: 47.5%;
  width: 84.5%;
  background: #FFFFFF;
  border-radius: 4px;
}


.CPassword{
  position: absolute;
  height: 14px;
  left: 7.8%;
  right: 66.18%;
  top: 56.2%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.CPasswordField{
  position: absolute;
  left: 7.8%;
  right: 30.09%;
  top: 59%;
  bottom: 34%;
  width: 84.5%;
  background: #FFFFFF;
  border-radius: 4px;
}

.sign_in_btn2{
  position: absolute;
  width: 84.5%;
  left: 7.8%;
  right: 30.09%;
  top: 73.32%;
  bottom: 19.89%;
  color:white;
  background: #0054A6;
  border-radius: 5px;
  border: 1px solid #0054A6;
}

.line_74{
  position: absolute;
  left: 51.68%;
  right: 39.68%;
  top: 77.48%;
  bottom: 22.39%;
  border: 1px solid #E3E6EF;
}

.line_73{
  position: absolute;
  left: 39.68%;
  right: 51.68%;
  top: 77.48%;
  bottom: 22.39%;
  border: 1px solid #E3E6EF;
}

.ortxtinnewPass{
  position: absolute;
  height: 16px;
  left: 49%;
  top: 84%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #5A5F7D;
}

.returntxt{
  position: absolute;
  height: 16px;
  left: 42%;
  right: 40.66%;
  top: 90.5%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #272B41;
}

.sign_In{
  position: absolute;
  height: 16px;
  left: 52%;
  right: 7.9%;
  top: 90.5%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #0054A6;
}