.sidebar {
  margin-top: 4.5%;
  padding: 0;
  /* width: 220px; */
  width: 232px;
  z-index: -1;
  background-color: #FFFFFF;
  position: absolute;
  height: 833px;
}

.sidebar a {
  display: block;
  color: #4B5664;
  padding: 2.8%;
  padding-left: 11%;
  text-decoration: none;
}

.sidebar a:hover{
  color: #0054A6;
  background: hsl(210, 55%, 78%);
  padding: 2.8%;
  padding-left: 7.5%;
  margin-left: 8px;
  margin-right: 8px;
  mix-blend-mode: normal;
  border-radius: 4px;
  opacity: 0.9;
}

