.dashboardcardcomp3{
  position: absolute;
  width: 30.4%;
  height: 32.2%;
  left: 2.4%;
  right: 43.05%;
  top: 45.2%;
  bottom: 52.39%;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #E3E6EF;
  border-radius: 10px;
}


.MemberDetailName{
  width: 90%;
  height: 16px;
  position: absolute;
  left: 40%;
  top: 63%;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03rem;
  color: #272B41;
}

.MemberDetailProf{
  width: 90%;
  height: 16px;
  position: absolute;
  left: 31%;
  top: 74%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02rem;
  color: #747890;
}

.MemberDetailMail{
  position: absolute;
  width: 90%;
  height: 16px;
  left: 30%;
  top: 85%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02rem;
  color: #747890;
}

.DltBtnInTeamDetail{
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 5%;
}