.NewMemberForminner{
  /* position: absolute; */
  position: sticky;
  width: 628px;
  height: 394px;
  left: 433px;
  top: 183px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}


.CreateNewTeamHead2{
  position: absolute;
  width: 254px;
  height: 28px;
  left: 3.8%;
  top: 4%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #272B41;
}

.headboarder2{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 14.93%;
  bottom: 86.07%;
  border: 1px solid #E3E6EF;
}

.AddTeamMembersTxt2{
  position: absolute;
  height: 14px;
  left: 3.8%;
  right: 66.18%;
  top: calc(20% - 14px/2 + 13px);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #757575;
}


.AddTeamMembersField2{
  position: absolute;
  left: 3.8%;
  right: 30.09%;
  top: 26.05%;
  bottom: 63.2%;
  width: 92.2%;
  background: #FFFFFF;
  border-radius: 4px;
  background: url("../assets/searchicon.svg") left center no-repeat;
  padding-left:25px;
}


.confirmMemberBtn{
  position: absolute;
  width: 83px;
  height: 40px;
  left: 82.8%;
  right: 30.09%;
  top: 84.32%;
  bottom: 6.89%;
  color: white;
  background: #0054A6;
  border: 1px solid #0054A6;
  border-radius: 5px;
}


.cancelMemberBtn{
  position: absolute;
  width: 74px;
  height:40px;
  left: 68.2%;
  right: 30.09%;
  top: 84.32%;
  bottom: 6.89%;
  cursor: pointer;
  /* color:#9299B8;
  border: 1px solid #E3E6EF;
  border-radius: 5px; */
}
