.backgroundcls{

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-image: url("./assets/UpdatedQbatchBackground.svg"); */
  /* background-size: 143% 162%; */
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.backgroundsize{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* .backgroundcls{
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EBEEF5;
}

.backgroundsize{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/*
.Rectangle1{
  position: absolute;
  width: 1400px;
  height: 528.58px;
  left: -29px;
  top: 442px;
  transform: rotate(10deg);
  background: #0054A6;
}

.Rectangle2{
  position: absolute;
  width: 1599px;
  height: 528.58px;
  left: -137px;
  top: 447px;
  transform: rotate(10deg);
  background: #FFFFFF;
} */