.backgroundcls{
  position: relative;
  width: 1440px;
  height: 786px;
  background: #EBEEF5;
}

.Rectangle1{
  position: absolute;
  width: 1400px;
  height: 528.58px;
  left: -29px;
  top: 442px;
  transform: rotate(10deg);
  background: #0054A6;
}

.Rectangle2{
  position: absolute;
  width: 1599px;
  height: 528.58px;
  left: -137px;
  top: 447px;
  transform: rotate(10deg);
  background: #FFFFFF;
}